body{
  background-image: url(../img/fundo.jpg);
  background-attachment: fixed;
  font-family: 'Oswald', sans-serif;
  line-height: 1.5
}

header{
  width: 100%;
  background-color: black;
  color: red;
  margin-bottom: 10%;
 
}

h2 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

p{
  font-size: 1.2em;
  text-align: justify;
}

.logo{
  font-size: 1.4em;
  text-align: center;
}

nav{
  text-align: center;
  font-size: 1.4em;
}

.banner{
  width: 100%
}

.container{
  color:black;
  width: 80%;
  margin: auto;

}
#titulos, #curiosidades{
  background-color: red;
  color: black;
}

#morumbi{
  background-color: white;
  color: black; 
}


#jogos{
  background-color: black;
  color: white;
}

.trofeu, .jogo{
  width: 50%
}

footer{
  background-color: gold;
      width: 80%;
      margin: auto;
}

#jogos, #titulos, #curiosidades{
  margin-top: 10%;
  margin-bottom: 10%;
  padding: 1%;
}

#git{
  width: 2.5em;
}

li{
  
}