body{
  background-image: url(../img/fundo.jpg);
  background-attachment: fixed;

}

header{
  width 100;
  background-color: black;
  color: red
}

h2 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

p, li{
  padding: 2em;
}

.logo{
  font-size: 1.4em;
  text-align: center;
}

nav{
  text-align: right;
  font-size: 1.4em;
}

.banner{
  width: 100%
}

.container{
  color:black;
  width: 80%;
  margin: auto;

}
.titulos{
  background-color: red;
  color: black;
}

.curiosidades{
  background-color: white;
  color: black;
}


.jogos{
  background-color: black;
  color: white;
}

.elenco{
  color: black;
  background-color: red;
}

.go, .zg, .m{
  background-color: darkgrey;
  color: black;
}

.l, .vol, .at{
  background-color: grey;
  color: black;s
}

.trofeu, .jogo{
  width: 50%
}

footer{
  background-color: gold;
      width: 80%;
      margin: auto;
}

.jogos, .titulos, .curiosidades{
  margin-top: 10%;
  margin-bottom: 10%;
}